$color: #1abc9c;
.jumbotron {
  font-size: 18px;
  background: darken($color, 4%);
  color: white;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
}
  .selected {
    background-color: #CFD8DC !important;
    color: white;
  }